*{margin:0;}
article{
	display: inline-block;
}
body{
	background:white;
	color:white;
	font-family:Arial;
	font-size:16px;
	margin:0;
	text-shadow:1px 1px 0 rgba(0,0,0,.3);
}
nav ul{
	font-size:0;
	padding:0;
}
nav ul li{
	background:rgba(0,0,0,.5);
	display: inline-block;
	font-size:16px;
	height:50px;
	line-height:50px;
	padding:10px 0;
	vertical-align: top;
	width:20%;
}
nav ul li:hover{
	background:rgba(0,0,0,.6);
}
nav ul li img {
	height:50px;
}
nav ul li a{
	color: #DDD;
	display: block;
	font-weight:bold;
	text-align:center;
	text-transform:uppercase;
}
footer ul{
	font-size:0;
	padding:0;
}
footer ul li{
	background:rgba(128,128,128,1);
	display: inline-block;
	font-size:16px;
	height:50px;
	line-height:50px;
	padding:10px 0;
	vertical-align: top;
	width:20%;
}
footer ul li a{
	color: #DDD;
	display: block;
	font-weight:bold;
	text-align:center;
}
footer p{
	background:rgba(128,128,128,1);
	color: #DDD;
	display: block;
	font-weight:bold;
	text-align:center;
}
.avatar,.personales{
	float: left;
}
.avatar img{
	border:5px solid white;
	margin-left:30px;
}
.formulario {
	background-image:url("ciudades.jpg");
	}
.formulario h2{
	font-size: 50px;
	text-align: center;
}
.formgray{
	background:#ccc;
	border:2px solid lightgray;
	border-radius:5px;
	color: black;
	font-size:20px;
	margin: 0 auto;
	padding:10px;
	width:400px;
	text-align: center;
}
.formgray input{
	width: 260px; 
   height: 35px; 
   padding: 5px 20px 0px 20px; 
   margin: 0 0 20px 0;
   border-radius: 5px; 
   -moz-border-radius: 5px; 
   -webkit-border-radius: 5px;
   -moz-box-shadow: 0px 1px 0px #f2f2f2;
   -webkit-box-shadow: 0px 1px 0px #f2f2f2;
   font-family: sans-serif; 
   font-size: 16px; color: #000000;
   text-transform: uppercase; 
   text-shadow: 0px -1px 0px #334f71;
}

.formgray2{
	background:#ccc;
	border:2px solid lightgray;
	border-radius:5px;
	color: black;
	font-size:20px;
	margin: 0 auto;
	padding:10px;
	width:700px;
	text-align: center;
}
.formgray2 input{
	width: 260px; 
   height: 35px; 
   padding: 5px 20px 0px 20px; 
   margin: 0 0 20px 0;
   border-radius: 5px; 
   -moz-border-radius: 5px; 
   -webkit-border-radius: 5px;
   -moz-box-shadow: 0px 1px 0px #f2f2f2;
   -webkit-box-shadow: 0px 1px 0px #f2f2f2;
   font-family: sans-serif; 
   font-size: 16px; color: #000000;
   text-transform: uppercase; 
   text-shadow: 0px -1px 0px #334f71;
}

.formgray3{
	display:none;
	background:#ccc;
	border:2px solid lightgray;
	border-radius:5px;
	color: black;
	font-size:20px;
	margin: 0 auto;
	padding:10px;
	width:700px;
	text-align: center;
}
.formgray3 input{
	width: 260px; 
   height: 35px; 
   padding: 5px 20px 0px 20px; 
   margin: 0 0 20px 0;
   border-radius: 5px; 
   -moz-border-radius: 5px; 
   -webkit-border-radius: 5px;
   -moz-box-shadow: 0px 1px 0px #f2f2f2;
   -webkit-box-shadow: 0px 1px 0px #f2f2f2;
   font-family: sans-serif; 
   font-size: 16px; color: #000000;
   text-transform: uppercase; 
   text-shadow: 0px -1px 0px #334f71;
}


#contenedor{
	background:rgba(0, 170, 182, 1);
	margin:0 auto;
	max-width:1000px;
}
#datos{
	background:#FFFFFF;
	border:10px solid black;
	display: inline-block;
	padding:20px;
}
#datos a{
	color:whitesmoke;
}
#websites{
	font-size:0;
	text-align:center;
}
#websites article{
	background:#ccc;
	border:2px solid lightgray;
	border-radius:5px;
	color: black;
	font-size:25px;
	margin:5px;
	padding:10px;
	width:400px;
}
#websites img {
	-webkit-transition:.2s;
}
#websites article:hover img{
	-webkit-transform:scale(1.1);
}
@media screen and (max-width:800px){
	nav ul li {
		width:50%;
	}
	nav ul li img {
		height:80%;
	}
}
@media screen and (max-width:480px){
	#datos{
		display: block;
		text-align:center;
	}
	.avatar,.personales{
		float: none;
	}
	.avatar img {
		margin:10px 0;
	}
	.formgray{
		width:200px;
	}
	.formgray input{
		width: 130px; 
   		height: 17px; 
	}
	#websites article{
	width:200px;
	}
}

@media screen and (max-width:735px){
	.formgray2{
		display: none;
	}
	.formgray3{
		display:block;
		width:200px;
	}
	.formgray3 input{
		width: 130px; 
   		height: 17px; 
	}
}
