<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width = device-width, initial-scale=1, maximum-scale=1"/>
		<!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame
		Remove this if you use the .htaccess -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>OnTime | Mi Perfil - Consulta</title>
		<meta name="description" content="Consulta de usuario">
		<meta name="author" content="08Bits">
		<meta name="viewport" content="width=device-width; initial-scale=1.0">
		<!-- Replace favicon.ico & apple-touch-icon.png in the root of your domain and delete these references -->
		<link rel="shortcut icon" href="/favicon.ico">
		<link rel="apple-touch-icon" href="/apple-touch-icon.png">
		<link rel="stylesheet" href="../css/estilos.css"/>
		<link rel="stylesheet" href="../css/botones.css"/>
	</head>
	<body>
		<section id="contenedor">
		<nav>
			<ul>
				<li><a href="../index.html"><img src="../images/logo.png"/></a></li>
				<li><a href="../index.html">Búsqueda</a></li>
				<li><a href="../views/ofertas.html">Ofertas</a></li>
				<li><a href="../views/registrar.html">Registrarse</a></li>
				<li><a href="../views/inises.html">Mi Perfil</a></li>
			</ul>
		</nav>
		<div>
			<h2 style="margin: 10px; font-size: 35px; text-align: center;">Mi Perfil</h2>
			<div class="formgray2">
				<table>
				<tr>
					<td>
						<label>Nombre(s): </label><input type="text" name="Nombre" disabled>
					</td>
					<td>
						<label>Apellido paterno: </label><input type="text" name="ApePat" disabled>
					</td>
				</tr>
				<tr>
					<td>
						<label>Apellido materno: </label><input type="text" name="ApeMat" disabled>
					</td>
					<td>
						<label>Contraseña: </label><input type="text" name="Contrasena" disabled>
					</td>
				</tr>
				<tr>
					<td>
					<label>Teléfono: </label><input type="text" name="Telefono" disabled>
					</td>
					<td>
					<label>Dirección: </label><input type="text" name="Direccion" disabled>
					</td>
				</tr>
				<tr>
					<td>
						<label>Correo electrónico: </label><input type="text" name="Correo" disabled>
					</td>
					<td>
						<label>Municipio: </label><input type="text" name="Municipio" disabled>
					</td>
				</tr>
				<tr>
					<td>
					<label>País: </label><input type="text" name="Pais" disabled>
					</td>
				</tr>
				</table>
				<a style="margin: 5px;" class="boton-azul boton-centro" href="modusu.html"><span class="boton-text-all-color">
							Modificar</span></a>
						<a class="boton-verde boton-centro" href="#"><span class="boton-text-all-color">
						Borrar</span></a>
			</div>
			<br />
		</div>
		<footer>
			<ul>
				<li><a target="_blank" href="http://www.08bits.com/conoacutecenos.html">Acerca de</a></li>
				<li><a target="_blank" href="http://www.08bits.com/formulario.html">Contáctanos</a></li>
				<li><a target="_blank" href="http://www.08bits.com/privacidad.html">Privacidad</a></li>
				<li><a target="_blank" href="https://www.facebook.com/08Bits">Facebook</a></li>
				<li><a target="_blank" href="https://twitter.com/08Bits_">Twitter</a></li>
			</ul>
			<p style="text-align: center;">
				&copy; 08Bits.com Todos los derechos reservados. All rights reserved. 2014
			</p>
		</footer>
		</section>
	</body>
</html>