<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
	<title></title>
	
	<link rel="stylesheet" type="text/css" href="css/style.css" media="all" />
	
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.6/jquery-ui.min.js"></script>
    <script type="text/javascript" src="js/jquery.inputfocus-0.9.min.js"></script>
    <script type="text/javascript" src="js/jquery.main.js"></script>
</head>
<body>
	
	<div id="container">
        <form action="#" method="post">
	
            <!-- #first_step -->
            <div id="first_step">
                <h1>Unete y descubre numerosas sorpresas</h1>

                <div class="form">
                    <input type="text" name="username" id="username" value="username" />
                    <label for="username">Por lo menos 4 caracteres. Las letras mayúsculas, las letras y los números sólo en minúsculas.</label>
                    
                    <input type="password" name="password" id="password" value="password" />
                    <label for="password">Por lo menos 4 caracteres. Use una mezcla de mayúsculas y minúsculas para una contraseña segura.</label>
                    
                    <input type="password" name="cpassword" id="cpassword" value="password" />
                    <label for="cpassword">Si las contraseñas no son iguales, usted no será capaz de continuar con el registro.</label>
                </div>      <div class="clear"></div>
                <input class="submit" type="submit" name="submit_first" id="submit_first" value="" />
            </div>      <div class="clear"></div>


            <!-- #second_step -->
            <div id="second_step">
                <h1>Unete y descubre numerosas sorpresas</h1>

                <div class="form">
                    <input type="text" name="firstname" id="firstname" value="Nombre" />
                    <label for="firstname">Nombre. </label>
                    <input type="text" name="lastname" id="lastname" value="Apellidos" />
                    <label for="lastname">Apellidos. </label>
                    <input type="text" name="email" id="email" value="e-mail" />
                    <label for="email">e-mail. </label>                    
                </div>     <div class="clear"></div>
                <input class="submit" type="submit" name="submit_second" id="submit_second" value="" />
            </div>      <div class="clear"></div>


            <!-- #third_step -->
            <div id="third_step">
                <h1>Unete y descubre numerosas sorpresas</h1>

                <div class="form">
                    <select id="age" name="age">
                        <option> 0 - 17</option>
                        <option>18 - 25</option>
                        <option>26 - 40</option>
                        <option>40+</option>
                    </select>
                    <label for="age">Edad. </label> <div class="clear"></div>

                    <select id="gender" name="gender">
                        <option>Masculino</option>
                        <option>Femenino</option>
                    </select>
                    <label for="gender">Sexo. </label> <div class="clear"></div>
                    
                    <select id="country" name="country">
                        <option>Reino Unido</option>
                        <option>Estados Unidos</option>
                        <option>Canada</option>
                        <option>Serbia</option>
                        <option>Italia</option>
						<option>México</option>
						<option>Guatemala</option>
						<option>Brazil</option>
                    </select>
                    <label for="country">Pais. </label> <div class="clear"></div>
                    
                </div>      <div class="clear"></div>
                <input class="submit" type="submit" name="submit_third" id="submit_third" value="" />
                
            </div> <div class="clear"></div>
            
            
            <!-- #fourth_step -->
            <div id="fourth_step">
                <h1>Unete y descubre numerosas sorpresas</h1>

                <div class="form">
                    <h2>Summary</h2>
                    
                    <table>
                        <tr><td>Username</td><td></td></tr>
                        <tr><td>Password</td><td></td></tr>
                        <tr><td>Email</td><td></td></tr>
                        <tr><td>Nombre</td><td></td></tr>
                        <tr><td>Edad</td><td></td></tr>
                        <tr><td>Sexo</td><td></td></tr>
                        <tr><td>Pais</td><td></td></tr>
                    </table>
                </div>     <div class="clear"></div>
                <input class="send submit" type="submit" name="submit_fourth" id="submit_fourth" value="" />            
            </div>
            
        </form>
	</div>
	<div id="progress_bar">
        <div id="progress"></div>
        <div id="progress_text">0% Completado</div>
	</div>
	
</body>
</html>