<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width = device-width, initial-scale=1, maximum-scale=1"/>
		<!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame
		Remove this if you use the .htaccess -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>OnTime | Mi Perfil - Modificación</title>
		<meta name="description" content="Modificación de usuario">
		<meta name="author" content="08Bits">
		<meta name="viewport" content="width=device-width; initial-scale=1.0">
		<!-- Replace favicon.ico & apple-touch-icon.png in the root of your domain and delete these references -->
		<link rel="shortcut icon" href="/favicon.ico">
		<link rel="apple-touch-icon" href="/apple-touch-icon.png">
		<link rel="stylesheet" href="../css/estilos.css"/>
		<link rel="stylesheet" href="../css/botones.css"/>
	</head>
	<body>
		<section id="contenedor">
		<nav>
			<ul>
				<li><a href="../index.html"><img src="../images/logo.png"/></a></li>
				<li><a href="../index.html">Búsqueda</a></li>
				<li><a href="../views/ofertas.html">Ofertas</a></li>
				<li><a href="../views/registrar.html">Registrarse</a></li>
				<li><a href="../views/inises.html">Mi Perfil</a></li>
			</ul>
		</nav>
		<div>
			<h2 style="margin: 10px; font-size: 35px; text-align: center;">Mi Perfil</h2>
			<div class="formgray">
				<label>Nombre: </label><br /><input type="text" name="Nombre"><br />
				<label>Apellido paterno: </label><br /><input type="text" name="ApePat"><br />
				<label>Apellido materno: </label><br /><input type="text" name="ApeMat"><br />
				<label>Contraseña: </label><br /><input type="text" name="Contrasena"><br />
				<label>Teléfono: </label><br /><input type="text" name="Telefono"><br />
				<label>Dirección: </label><br /><input type="text" name="Direccion"><br />
				<label>Correo: </label><br /><input type="text" name="Correo"><br />
				<label>Municipio: </label><br /><input type="text" name="Municipio"><br />
				<label>País: </label><br /><input type="text" name="Pais"><br />
				<a class="boton-azul boton-centro" href="#"><span class="boton-text-all-color">
					Cambiar</span></a>
			</div>
			<br />
		</div>
		<footer>
			<ul>
				<li><a target="_blank" href="http://www.08bits.com/conoacutecenos.html">Acerca de</a></li>
				<li><a target="_blank" href="http://www.08bits.com/formulario.html">Contáctanos</a></li>
				<li><a target="_blank" href="http://www.08bits.com/privacidad.html">Privacidad</a></li>
				<li><a target="_blank" href="https://www.facebook.com/08Bits">Facebook</a></li>
				<li><a target="_blank" href="https://twitter.com/08Bits_">Twitter</a></li>
			</ul>
			<p style="text-align: center;">
				&copy; 08Bits.com Todos los derechos reservados. All rights reserved. 2014
			</p>
		</footer>
		</section>
	</body>
</html>