<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width = device-width, initial-scale=1, maximum-scale=1"/>
		<!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame
		Remove this if you use the .htaccess -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>OnTime | Resultados</title>
		<meta name="description" content="Resultados en OnTime">
		<meta name="author" content="08Bits">
		<meta name="viewport" content="width=device-width; initial-scale=1.0">
		<!-- Replace favicon.ico & apple-touch-icon.png in the root of your domain and delete these references -->
		<link rel="shortcut icon" href="/favicon.ico">
		<link rel="apple-touch-icon" href="/apple-touch-icon.png">
		<link rel="stylesheet" href="../css/estilos.css"/>
		<link rel="stylesheet" href="../css/botones.css"/>
		<link rel="stylesheet" href="../css/results.css"/>
		
	</head>
	<body>
		<section id="contenedor">
		<nav>
			<ul>
				<li><a href="../index.html"><img src="../images/logo.png"/></a></li>
				<li><a href="../index.html">Búsqueda</a></li>
				<li><a href="../views/ofertas.html">Ofertas</a></li>
				<li><a href="../views/registrar.html">Registrarse</a></li>
				<li><a href="../views/inises.html">Mi Perfil</a></li>
			</ul>
		</nav>
		
		<div style="text-align: center; margin: 10px;">
				<h2 style="font-size: 35px;">Resultados:</h2>
		</div>
		
		<header style="background-color: white; border:5px solid black; text-align: center;">
			<div style="background-color: gray;">
				<strong style="margin: 10px;">IdaOVuelta</strong>
				<span style="margin: 5px;">CiudadDeOrigen,</span>
				<span style="margin: 5px;">IdCiudad</span>
				<span style="margin: 5px;">-</span>
				<span style="margin: 5px;">CiudadDeDestino,</span>
				<span style="margin: 5px;">IdCiudad2</span>
			</div>
			<div style="color: black; margin: 15px;">
				<span style="margin: 10px;">DíaEnLetra. Día Mes. Año</span>
				<span style="margin: 10px;">Sale:</span>
				<span style="margin: 10px;">00:00</span>
				<span style="margin: 10px;">Lega:</span>
				<span style="margin: 10px;">00:00</span>
				<span style="margin: 10px;">0h 0m</span>
				<a style="margin: 10px;" href="#" class="text">0&nbsp; escalas</a>
				<span style="margin: 10px;">MarcaTransporte</span>
			</div>
			<div style="background-color: #01A9DB;">
				<span style="color: black;margin: 10px;">$0000</span>
				<a style="margin: 10px;" class="boton-azul boton-centro" href="#"><span style="font-size: 15px;" class="boton-text-all-color">
					Verificar</span></a>
			</div>
		</header>

		<footer>
			<ul>
				<li><a target="_blank" href="http://www.08bits.com/conoacutecenos.html">Acerca de</a></li>
				<li><a target="_blank" href="http://www.08bits.com/formulario.html">Contáctanos</a></li>
				<li><a target="_blank" href="http://www.08bits.com/privacidad.html">Privacidad</a></li>
				<li><a target="_blank" href="https://www.facebook.com/08Bits">Facebook</a></li>
				<li><a target="_blank" href="https://twitter.com/08Bits_">Twitter</a></li>
			</ul>
			<p style="text-align: center;">
				&copy; 08Bits.com Todos los derechos reservados. All rights reserved. 2014
			</p>
		</footer>
		</section>
	</body>
</html>
