<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width = device-width, initial-scale=1, maximum-scale=1"/>
		<!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame
		Remove this if you use the .htaccess -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>OnTime | Ofertas</title>
		<meta name="description" content="Ofertas en OnTime">
		<meta name="author" content="08Bits">
		<meta name="viewport" content="width=device-width; initial-scale=1.0">
		<!-- Replace favicon.ico & apple-touch-icon.png in the root of your domain and delete these references -->
		<link rel="shortcut icon" href="/favicon.ico">
		<link rel="apple-touch-icon" href="/apple-touch-icon.png">
		<link rel="stylesheet" href="../css/estilos.css"/>
		<link rel="stylesheet" href="../css/botones.css"/>
	</head>
	<body>
		<section id="contenedor">
		<nav>
			<ul>
				<li><a href="../index.html"><img src="../images/logo.png"/></a></li>
				<li><a href="../index.html">Búsqueda</a></li>
				<li><a href="../views/ofertas.html">Ofertas</a></li>
				<li><a href="../views/registrar.html">Registrarse</a></li>
				<li><a href="../views/inises.html">Mi Perfil</a></li>
			</ul>
		</nav>

		<div style="text-align: center">
			<br />
			<h2 style="font-size: 35px;">"Nombre de la sección de ofertas"</h2>
			<br />
		</div>
		<header id="datos">
			<div class="avatar">
				<img src="../images/oferta.jpg" alt="Imagen de la oferta" height="100" width="100"/>
			</div>
			<div class="personales" style="text-align: center">
				<h1 style="color: black;">"Título de la oferta"</h1>
				<p style="color: black; text-align: justify;">
					Lorem ipsum ad his scripta blandit partiendo, 
					eum fastidii accumsan euripidis in, eum liber hendrerit an. 
					Qui ut wisi vocibus suscipiantur, quo dicit ridens inciderint id. 
					Quo mundi lobortis reformidans eu, legimus senserit definiebas an eos. 
					Eu sit tincidunt incorrupte definitionem, vis mutat affert percipit cu, 
					eirmod consectetuer signiferumque eu per. In usu latine equidem dolores. 
					Quo no falli viris intellegam, ut fugit veritus placerat per.</p>
				<br />
				<a class="boton-azul boton-centro" href="seccionofertas.html"><span class="boton-text-all-color">
					Comprar</span></a>
			</div>
		</header>
		<footer>
			<ul>
				<li><a target="_blank" href="http://www.08bits.com/conoacutecenos.html">Acerca de</a></li>
				<li><a target="_blank" href="http://www.08bits.com/formulario.html">Contáctanos</a></li>
				<li><a target="_blank" href="http://www.08bits.com/privacidad.html">Privacidad</a></li>
				<li><a target="_blank" href="https://www.facebook.com/08Bits">Facebook</a></li>
				<li><a target="_blank" href="https://twitter.com/08Bits_">Twitter</a></li>
			</ul>
			<p style="text-align: center;">
				&copy; 08Bits.com Todos los derechos reservados. All rights reserved. 2014
			</p>
		</footer>
		</section>
	</body>
</html>
